# Dependencies
node_modules/

# Production Build
out/
dist/

# OS Files
.DS_Store
Thumbs.db
._*

# Environment / Secrets
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Data (Local)
releases/

# Testing
coverage/

# Electron Builder
dist_electron/

AMS/
build/icon.png
